body{
    background-color: rgb(230, 230, 230);
    height: 100%;
    width: 100%;
}
#time{
    display: none;
    font-size: 70px;
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-weight: 700;
}
.show{
    animation: show 1.5s;
}
@keyframes show{
  from{opacity: 0;}
  to{opacity: 1;}
}

#go-today{
    position: absolute;
    bottom: -150px;
    width: 200px;
    height: 80px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    border-radius: 30px;
    left: 50%;
    margin-left: -100px;
    transition: background-color .5s;
    cursor: pointer;
}
#go-today:hover{
    background-color: rgb(150, 150, 150);
    color: #fff;
}

#go-thisdaybox{
    position: absolute;
    width: 600px;
    height: 100px;
    background-color: rgb(230, 230, 230);
    bottom: -300px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#go-thisdaybox form{
}
#go-thisdaybox form input{
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
}
#go-thisdaybox form input:first-child{
    width: 300px;
    /* font-size: 30px; */
    box-sizing: border-box;
    outline:none;
}
#go-thisdaybox form input:last-child{
    /* font-size: 30px; */
    font-weight: 100;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    padding: 0 15px;
    transition: background-color .5s;
}
#go-thisdaybox form input:last-child:hover{
    background-color:  rgb(150, 150, 150);
    color: #fff;
}





.container{
    width: 100%;
    height: 100vh;
}
.container .inner{
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    overflow: auto;
}
.container .inner .calender{
    width: auto;
    position: relative;
    /* height: 700px; */
    border-radius: 30px;
    /* padding: 30px; */
    box-sizing: border-box;
    margin: 30px;
    background-color: rgb(245, 245, 245);
    
    
}
.container .inner .calender .calender-month{
    width: 100%;
}
.container .inner .calender .calender-month .control-month{
    border-radius: 30px 30px 0 0;
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    font-size: 50px;
    font-weight: 500;
    background-color: rgb(235, 235, 235);
}
.container .inner .calender .calender-month .control-month .month{
    width: 100%;
    line-height: 80px;
    text-align: center;
}
.container .inner .calender .calender-month .control-month .material-icons{
    font-size: 50px !important;
    cursor: pointer;
}
.container .inner .calender .calender-month .control-month .material-icons.prev{
    margin: auto 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}
.container .inner .calender .calender-month .control-month .material-icons.next{
    margin: auto 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;

}

.container .inner .calender .calender-month .calender-head{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    box-sizing: border-box;
}
.container .inner .calender .calender-month .calender-head .date-week{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    /* border: 1px solid rgb(255, 255, 255); */
}
.container .inner .calender .calender-month .calender-main{
    padding: 20px 0;
    padding: 10px;
    box-sizing: border-box;
}
.container .inner .calender .calender-month .calender-main .dates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
}
.container .inner .calender .calender-month .calender-main .dates .date{
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    font-weight: 400;
    z-index: 10;
    cursor: pointer;
    transition: color 1s;
}
.container .inner .calender .calender-month .calender-main .dates .date:hover{
    background-color:  rgb(235, 235, 235);
    border-radius: 30px;
}
/* .container .inner .calender .calender-month .calender-main .dates .date.today{
    text-decoration: underline red;
    text-underline-position:under
} */
.container .inner .calender .calender-month .calender-main .dates .date.today {
    position: relative;
    color: #FFFFFF;
}
  
.container .inner .calender .calender-month .calender-main .dates .date.today::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.container .inner .calender .calender-month .calender-main .dates .date.other p{
    opacity: 0.2;
}