body{
    background-color: rgb(230, 230, 230);
}
#time{
    font-size: 70px;
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-weight: 700;
}



.container{
    width: 100%;
    height: 100%;
}
.container .inner{
    position: relative;
    width: 1000px;
    /* height: 100%; */
    margin: 0 auto;
    background-color: #fff;
    overflow: auto;
}
.container .inner .calender{
    width: auto;
    height: 700px;
    border-radius: 30px;
    /* padding: 30px; */
    box-sizing: border-box;
    margin: 30px;
    background-color: rgb(250, 250, 250);
    
}
.container .inner .calender .calender-month{
    width: 100%;
}
.container .inner .calender .calender-month .control-month{
    border-radius: 30px 30px 0 0;
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    font-size: 50px;
    background-color: rgb(240, 240, 240);
}
.container .inner .calender .calender-month .control-month .month{
    width: 100%;
    line-height: 80px;
    text-align: center;
}
.container .inner .calender .calender-month .control-month .material-icons{
    font-size: 50px !important;
    cursor: pointer;
}
.container .inner .calender .calender-month .control-month .material-icons.prev{
    margin: auto 0;
}
.container .inner .calender .calender-month .control-month .material-icons.next{
    margin: auto 0;
}

.container .inner .calender .calender-month .calender-head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.container .inner .calender .calender-month .calender-head .date-week{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    /* border: 1px solid rgb(255, 255, 255); */
}