body{
    /* background-color: #66ccff; */
    /* background-color: rgb(200, 200, 200); */
}
.btn{
    width: 200px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    /* border: 1px solid #000; */
}
.container{
    position: relative;
}

.container .header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: #fff;
    border-bottom: 3px solid rgb(230, 230, 230);
}
.container .header .inner{
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 130px;
}
.container .header .inner .logo{
    position: absolute;
    top: 20px;
    left: 20px;
    /* width: 80px;
    height: 80px; */
}
.container .header .inner .logo img{
    width: 80px;
    height: 80px;
}
.container .header .inner .menu{
    position: absolute;
    bottom: 30px;
    right: 0;
}
.container .header .inner .menu ul{
    display: flex;
    list-style:none;
}
.container .header .inner .menu ul li{
    margin-right: 50px;
}
.container .header .inner .menu ul li:last-child{
    margin-right: 0;
}
.container .header .inner .menu ul li a{
    font-size: 40px;
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-weight: 500;
    transform: all 1s;
}
.container .header .inner .menu ul li a:hover{
    color: #000;
    text-decoration: underline;
    text-underline-position: under;
}






.container .section{
    position: absolute;
    top: 130px;
    width: 100%;
    height: 2000px;
    /* margin: 5% auto; */
    /* padding: 50px 0; */
    
}
.contents-box{
    width: 100%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#button{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    /* background-color: #66ccff; */
    /* background-color: #fff; */
    border-radius: 5px;
}
#button h1{
    margin: 50px 0;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    color: #0066ff;
}
#button p{
    margin: 10px 0 30px 0;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}
#button .contents-box .content{
    padding-top: 70px;
    box-sizing: border-box;
    margin: 30px;
    /* background-color: rgb(245, 245, 245); */
    border-radius: 5px;
    position: relative;
    box-shadow: rgb(200, 200, 200) 0 0 15px ;
}
/* #button .contents-box .content .copy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
} */
#button .contents-box .content .copy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(200, 200, 200);
    /* font-weight: 700; */
    
}
#button .contents-box .content .copy h2{
    font-size: 25px;
    margin-left: 25px;
}
#button .contents-box .content .copy .copy-code{
    position: absolute;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .4s;
    border: 1px solid rgb(100, 100, 100);
    font-weight: 700;
}
#button .contents-box .content .copy .copy-code:nth-child(2){
    right: 100px;
}
#button .contents-box .content .copy .copy-code:hover{
    background-color: rgb(100, 100, 100);
    color: #fff;
}


#button .contents-box .content .item{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}


@media screen and (max-width: 1700px) {
    #button .contents-box .content .copy h2{
        font-size: 25px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1400px) {
    #button{
        width: 95%;
    }
    #button .contents-box .content{
        padding-top: 50px;
        margin: 20px;
    }
    
    #button .contents-box .content .copy{
        height: 50px;
    }
    #button .contents-box .content .copy h2{
        font-size: 20px;
        margin-left: 20px;
    }
    #button .contents-box .content .copy .copy-code{
        font-size: 10px;
    }
    #button .contents-box .content .copy .copy-code:nth-child(2){
        right: 75px;
    }
    #button .contents-box .content .item{
        height: 150px;
    }
}
@media screen and (max-width: 1024px) {
    #button{
        width: 100%;
    }
    #button .contents-box .content{
        margin: 15px;
    }
    .container .header .inner .menu ul li a{
        font-size: 30px;
    }
    .contents-box{
        width: 100%;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #button .contents-box .content .copy h2{
        font-size: 20px;
        margin-left: 20px;
    }
    #button .contents-box .content .copy .copy-code{
        font-size: 12px;
    }
    #button .contents-box .content .copy .copy-code:nth-child(2){
        right: 80px;
    }
}
@media screen and (max-width: 768px) {
    .container .header .inner{
        width: 100%;
    }
    .contents-box{
        width: 100%;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #button .contents-box .content .copy h2{
        font-size: 18px;
        margin-left: 20px;
    }
    #button .contents-box .content .copy .copy-code{
        font-size: 12px;
    }
    #button .contents-box .content .copy .copy-code:nth-child(2){
        right: 80px;
    }
}

/* BUTTON - 1 */
#button .contents-box .content .item .btn-1{
    color: #0066ff;
    font-weight: 700;
    transition: all .3s;
    border: none;
    box-shadow: #0066ff 0px 0px 0px 3px inset;
}
#button .contents-box .content .item .btn-1:hover{
    color: #fff;
    box-shadow: #0066ff 0px 80px 0px 0px inset;
}


/* BUTTON - 2 */
#button .contents-box .content .item .roll{
    perspective: 500;
    -webkit-perspective: 500px;
    box-sizing: border-box;
}
#button .contents-box .content .item .roll .btn-2{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* color: #fff; */
    font-weight: 700;
    border: #0066ff solid 3px;
    pointer-events: none;
    box-sizing: border-box;
    font-size: 30px;
}

#button .contents-box .content .item .roll .btn-2:first-child{
    border: #0066ff solid 3px;
    color: #fff;
    background-color: #0066ff;
    transform: rotateX(90deg);
    transition: all 0.3s ease;
    transform-origin: 50% 50% -40px;
    border-radius: 5px;
    
}
#button .contents-box .content .item .roll .btn-2:last-child{
    border: #0066ff solid 3px;
    color: #0066ff;
    background-color: #fff;
    transform: rotateX(0deg);
    transition: all 0.3s ease;
    transform-origin: 50% 50% -40px;
    border-radius: 5px;
}
#button .contents-box .content .item .roll:hover .btn-2:first-child{
    transform: rotateX(0deg);
    transition: all 0.3s ease;
    z-index: 10;
}
#button .contents-box .content .item .roll:hover .btn-2:last-child{
    transform: rotateX(-90deg);
    transition: all 0.3s ease;
}

/* BUTTON - 3 */
#button .contents-box .content .item .reverse{
    perspective: 500;
    -webkit-perspective: 500px;
    box-sizing: border-box;
}
#button .contents-box .content .item .reverse .btn-3{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-weight: 700;
    border: #0066ff solid 3px;
    pointer-events: none;
    box-sizing: border-box;
    font-size: 30px;
}
#button .contents-box .content .item .reverse .btn-3:first-child{
    border: #0066ff solid 3px;
    color: #fff;
    background-color: #0066ff;
    transform: rotateX(180deg);
    transition: all 0.3s ease;
    transform-origin: 50% 50%;
    border-radius: 5px;
    
}
#button .contents-box .content .item .reverse .btn-3:last-child{
    border: #0066ff solid 3px;
    color: #0066ff;
    background-color: #fff;
    transform: rotateX(0deg);
    transition: all 0.3s ease;
    transform-origin: 50% 50%;
    border-radius: 5px;
}
#button .contents-box .content .item .reverse:hover .btn-3:first-child{
    transform: rotateX(0deg);
    transition: all 0.3s ease;
    z-index: 10;
}
#button .contents-box .content .item .reverse:hover .btn-3:last-child{
    transform: rotateX(-180deg);
    transition: all 0.3s ease;
}


/* BUTTON - 4 */
#button .contents-box .content .item .reverse-y{
    perspective: 500;
    -webkit-perspective: 500px;
    box-sizing: border-box;
}
#button .contents-box .content .item .reverse-y .btn-4{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-weight: 700;
    border: #0066ff solid 3px;
    pointer-events: none;
    box-sizing: border-box;
    font-size: 30px;
}
#button .contents-box .content .item .reverse-y .btn-4:first-child{
    border: #0066ff solid 3px;
    color: #fff;
    background-color: #0066ff;
    transform: rotateY(180deg);
    transition: all 0.3s ease;
    transform-origin: 50% 50%;
    border-radius: 5px;
    
}
#button .contents-box .content .item .reverse-y .btn-4:last-child{
    border: #0066ff solid 3px;
    color: #0066ff;
    background-color: #fff;
    transform: rotateY(0deg);
    transition: all 0.3s ease;
    transform-origin: 50% 50%;
    border-radius: 5px;
}
#button .contents-box .content .item .reverse-y:hover .btn-4:first-child{
    transform: rotateY(0deg);
    transition: all 0.3s ease;
    z-index: 10;
}
#button .contents-box .content .item .reverse-y:hover .btn-4:last-child{
    transform: rotateY(-180deg);
    transition: all 0.3s ease;
}

#button .contents-box .content .item .btn-5 {
    overflow: hidden;
    position: relative;
    border: 3px solid #0066ff;
    transition: color .7s;
    z-index: 10;
    color: #0066ff;
    font-weight: 700;
}
  
#button .contents-box .content .item .btn-5::after {
    content: "";
    position: absolute;
    height: 100%;
    left: -200px;
    top: 0;
    background-color: #0066ff;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0px;
    z-index: -1;
    transition: all .5s;
}
#button .contents-box .content .item .btn-5:hover:after {
    height: 200%;
    width: 300%;
}
#button .contents-box .content .item .btn-5:hover {
    color: #fff;
}



/* BUTTON - 6 */
#button .contents-box .content .item .line{
    position: relative;
}

#button .contents-box .content .item .line .btn-6{
    border: 3px solid #ccc;
    color: #0066ff;
    font-weight: 700;
    transition: background-color .3s;
    transition: all .2s;
    transition-delay: .45s;
}

#button .contents-box .content .item .line::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    background-color: #0066ff;
    height: 0;
    transition: all .1s;
}
#button .contents-box .content .item .line::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #0066ff;
    height: 4px;
    transition: all .1s;
    transition-delay: .1s;
}
#button .contents-box .content .item .line .btn-6:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4px;
    background-color: #0066ff;
    height: 0;
    transition: all .1s;
    transition-delay: .2s;
}
#button .contents-box .content .item .line .btn-6:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #0066ff;
    height: 4px;
    transition: all .1s;
    transition-delay: .3s;
}

#button .contents-box .content .item .line:hover::before{
    height: 100%;
}
#button .contents-box .content .item .line:hover::after{
    width: 100%;
}
#button .contents-box .content .item .line .btn-6:hover::before{
    height: 100%;
}
#button .contents-box .content .item .line .btn-6:hover::after{
    width: 100%;
}
#button .contents-box .content .item .line .btn-6:hover{
    background-color: #0066ff;
    color: #fff;
}


/* BUTTOB - 7 */

#button .contents-box .content .item .water{
    
}
#button .contents-box .content .item .water .btn-7{
    border: 3px solid #0066ff;
    color: #0066ff;
    font-weight: 700;
    transition: color .3s;
    transition-delay: 0s;
    animation: wave-reverse 2.3s both linear;
}
#button .contents-box .content .item .water .btn-7:hover{
    margin: 0; 
    padding: 0; 
    /* color: rgba(255, 255, 255, 0.2);  */
    color: #fff; 
    background-size: 100% 130%; 
    background-position: left 0px bottom -40px;
    background-repeat: repeat-x;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 90 240 300' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='800' style='stroke: none; fill: %230066ff;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill:%23fff'%3E%3C/path%3E%3C/svg%3E");
    animation: wave 2s both linear;
    transition-delay: .8s;
}
@keyframes wave {
    0% {
        background-position: left 0px bottom -80px;
    }
    100% { 
        background-position: left 1500px bottom 0px;
    }
}

#item-btn-8{
    position: relative;
}
#button .contents-box .content .item .blur{
    
}
#button .contents-box .content .item .blur .btn-8{
    position: absolute;
    left: 50%;
    top: 50%;
    
}
#button .contents-box .content .item .blur .btn-8:first-child{
    z-index: 10;
    margin-left: -100px;
    margin-top: -40px;
    background-color: transparent;
    border: 3px solid #0066ff;
    color: #0066ff;
    font-weight: 700;
    transition: all .4s;
    transition: color .3s;
    /* transition: background-color .3s; */
    transition: box-shadow .9s;
}
#button .contents-box .content .item .blur .btn-8:last-child{
    z-index: 9;
    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;
    background-color: #0066ff;
    transition: all .3s;
}
#button .contents-box .content .item .blur:hover .btn-8:first-child{
    color: #fff;
    /* background-color: #0066ff; */
    box-shadow: #0066ff 0 0 40px ;
}
#button .contents-box .content .item .blur:hover .btn-8:last-child{
    opacity: 1;
    height: 80px;
    width: 200px;
    margin-left: -100px;
    margin-top: -40px;
}